services:
  nginx:
    image: nginx:1.29-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      TZ: Asia/Seoul
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    networks:
      - platform_net

  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Asia/Seoul
      PGTZ: Asia/Seoul
    volumes:
      - pg_dev_data:/var/lib/postgresql/data
    networks:
      - platform_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME} -h 127.0.0.1 -p 5432"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 20s

  redis:
    image: redis:8.4-alpine
    restart: unless-stopped
    environment:
      TZ: Asia/Seoul
    command: ["redis-server", "--appendonly", "no"]
    networks:
      - platform_net
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -h 127.0.0.1 -p 6379 ping | grep -q PONG"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

volumes:
  pg_dev_data:

networks:
  platform_net:
    external: true
    name: ${PLATFORM_NET_NAME}
